body{ background-color: white; }

p {
	margin: 0;
}

#container { background-color: #ffffff; }

#svgContainer { 
	z-index: -10;
	position:absolute;
	opacity: 0.5;
}

.view-container {
	margin: 10px 0 30px 0;
}

.fa-trash  {
	padding: 3px 8px;
	background-color: #ccc;
}

.group {
	border-radius: 10px;
	border: 2px solid #bdbdbd;
	padding: 10px;
	margin-bottom: 50px;
	width: 768px;
}

.group.last {
	margin-bottom: 0;
}

.forum_hover {
    border-radius: 10px;
	border: 2px solid #01DF01;
	padding: 10px;
}

.op-offset {
	position: absolute;
	z-index: 10;
	left: 400px;
}

.header-group td {
	padding-right: 10px !important;
}

.header-group {
	margin-bottom: 10px !important;
}

.body-group  td {
	padding-right: 10px !important;
}

.body-group {
	margin-bottom: 0 !important;
}

.condition-buttons {
	float: right;
	padding-left: 10px;
}

.condition {
	margin-bottom: 50px;
    border-radius: 10px;
	border: 2px solid #bdbdbd;
	padding: 10px;
}

.group:hover {
	border-radius: 10px;
	border: 2px solid #01DF01;
	padding: 10px;
}

.condition:hover  {
	border-radius: 10px;
	border: 2px solid #01DF01;
	padding: 10px;
}

.condition.last {
	margin-bottom: 0;
}

.group-plus {
	margin-top: 5px;
	border-radius: 10px;
	width: 768px;
}

.plus-sign {
	padding: 5px;
	border: 2px solid #bdbdbd;
	border-radius: 5px;
	margin: 5px 0 0 0;
}

.plus-sign:hover {
	border-radius: 5px;
	border: 2px solid #01DF01;
	padding: 5px;
}

#outer{
	margin:0 auto;
}

#teal{
 	width: 6em;
 	height: 6em;
 	background-color:teal;
 	margin-left: 10%;
}

#red{
	width:6em;
	height: 4em;
	margin-left: 30%; 
	padding:4em 3em;
	background-color:red;
}
#aqua{
	width: 5em;
	height: 5em;
	margin-left:15%; 
	background-color:aqua;
}
#purple{
	width: 15em;
	height: 5em;
	background-color:purple;
}
#green{
	width: 5em;
	height: 7em;
	margin-top: 2em;
	margin-left: 50%;
	background-color: green;
}