

<div id="svgContainer">
	<svg id="svgPaths" width="0" height="0" >
		<path data-ng-repeat="path in paths()"
			id="{{path.name}}"
			d="M0 0"         
			stroke="#000" 
			fill="none" 
			stroke-width="12px"; />
	
	</svg>
</div>


<div data-ng-repeat="group in groups">
	<div id="group{{$index}}" class="group" ng-class="{'last': $last}">
		<table class="table header-group">
			<tr>
				<td>
					<input type="text" class="form-control" ng-model="group.title"></input>
				</td>
				<td>
					<div class="condition-buttons">
						<button class="btn btn-default fa fa-trash" ng-disabled="$first && $last" ng-click="deleteGroup($index)" ></button>
					</div>
				</td>
			</tr>
		</table>
		
		<div data-ng-repeat="condition in group.conditions">
			<div id="group{{$parent.$index}}condition{{$index}}" class="condition panel" ng-class="{'last': $last}" >
				<table class="table body-group">
					<tr>
						<td>
							<select class="form-control" ng-model="condition.fieldname">
								<option ng-selected="field.title == condition.fieldname"
									data-ng-repeat="field in fields" value="{{field.title}}" >{{field.title}}</option>
							</select>
						</td>
						<td>
							<select class="form-control" ng-model="condition.operator">
								<option ng-selected="operator.title == condition.operator"
									data-ng-repeat="operator in operators" ng-model="operator.title" >{{operator.title}}</option>
							</select>
						</td>
						<td>
							<input id="group1condition1Value" ng-model="condition.value" value="{{condition.value}}" type="text" class="form-control" >
						</td>
						<td>
							<div class="condition-buttons">
								<button type="button" class="btn btn-default fa fa-trash button-delete-condition" ng-disabled="$first && $last" ng-click="deleteCondition($parent.$index, $index)"></button>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div ng-if="!$last">
				<div id="group{{$parent.$parent.$index}}condition{{$index}}op" class="op-offset operation-condition">
					<select><option>AND</option><option>OR</option></select>
				</div>
			</div>
			<div ng-if="$last">
				<div class="text-center">
					<button class="fa fa-plus plus-sign" ng-click="addCondition($parent.$parent.$index)"></button>	
				</div>
			</div>
		</div>
		
		<div ng-if="!$last" id="group{{$index}}op" class="op-offset operation-group">
			<select><option>AND</option><option>OR</option></select>
		</div>
	</div>
	
	<div ng-if="$last">
		<div class="group-plus">
			<div class="text-center">
				<button class="fa fa-plus plus-sign" ng-click="addGroup()"></button>	
			</div>
		</div>
	</div>
	
</div>
<div ng-bind="drawPaths()"></div>
<div>
	<button ng-click="save()">Save</button>
</div>	
		