<div class="row">
    <div class="col-md-12">
        <form name="detail" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="txtartist">Artist</label>
                <input type="text" name="txtArtist" id="txtArtist" class="form-control" data-ng-model="Item.artist" />
                <input type="hidden" name="hdnID" id="hdnID" data-ng-model="Item.id" />
            </div>
            <div class="form-group">
                <label for="cboGenre">Genre</label>
                <select name="cboGenre" id="cboGenre" class="form-control" data-ng-model="Item.genre">
                    <option data-ng-repeat="g in genres" value="{{g.genre}}">{{g.genre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cboRating">Rating</label>
                <select name="cboRating" id="cboRating" class="form-control" data-ng-model="Item.rating">
                    <option selected disabled value="">Select a rating...</option>
                    <option value="5">★★★★★</option>
                    <option value="4">★★★★☆</option>
                    <option value="3">★★★☆☆</option>
                    <option value="2">★★☆☆☆</option>
                    <option value="1">★☆☆☆☆</option>
                </select>
            </div>
            <button class="btn btn-default" data-ng-click="save()">Ok</button>
            <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
        </form>
    </div>
</div>